{% extends 'base.html' %}

{% load static %}

{% block title %}
  My Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "blog/blog.css" %}>
{% endblock %}

{% block content %}

  <section id="welcome">
    <header>
      <img src="{% static 'images/max.png' %}" alt="Saksham - Author of this Blog" />
      <h2>Saksham Blog</h2>
    </header>
    <p>Hi I am Saksham, I love to blog about tech and the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest Posts</h2>

    <ul>
      {% for post in posts %}
      {% include "blog/include/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe pariatur similique natus, illo at aperiam nesciunt doloremque laudantium reprehenderit dolorum, ratione ex non accusantium accusamus sint in ab praesentium autem.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, molestiae distinctio modi culpa dolorem sint maxime. Eveniet commodi voluptates, modi odio id similique porro aperiam ullam reiciendis? Laudantium, rem eligendi?</p>
  </section>
{% endblock %}
