<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/" method="post">
      {% csrf_token %}
      {% if has_error %}
        <span style="color: red; background: white;border: 1px solid red;padding: 5px;">Form is Invalid please enter valid username!</span>
        <br />
        <br />
      {% endif %}
      <label for="username">Your Name</label>
      <input type="text" id="username" name="username" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
